[[!pagetemplate  template="unsafe_browser_warning.tmpl"]]
[[!meta title="Warning! This browser is not anonymous!"]]

<p>The <em>Unsafe Browser</em> is not using Tor and is not
anonymous.</p>

<p><strong>Only use the <em>Unsafe Browser</em> to log in to captive
portals.</strong><p>

<p>For a safe and anonymous browser, use <em>Tor Browser</em>
instead.</p>

<h2>Logging in to captive portals</h2>

[[!inline pages="doc/anonymous_internet/unsafe_browser/captive_portal.inline" raw="yes" sort="age"]]

<p>To log in to a captive portal:</p>

<ol>
<li>Try visiting any website using the <em>Unsafe Browser</em>.

    <p>Choose a website that is common in your location, for example a search
    engine or news site.</p>
</li>

<li>You should be redirected to the captive portal instead of the
website.</li>

<li>After you logged in to the captive portal, Tor should start.</li>

<li>After Tor is ready, close the <em>Unsafe Browser</em>.

    <p>You can use <em>Tor Browser</em> and any other application as usual.</p></li>

</ol>
